{% import "macros/sidebar_nav.html" as sidebar_nav %}
<div class="sidebar__content">
    <a href="/" class="__title"><h2>{{ config.extra.page_title }}</h2></a>
    <p>
        {{ config.description }}
    </p>
    {% block nav_side %}
        {% include 'base/nav_side.html' %}
    {% endblock %}
</div>
